* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #020202, #051b2d, #020202);

    color: white;

}

header {

    text-align: center;

    padding: 40px;

}

.logo {

    width: 300px;

    margin-bottom: 20px;

    filter: drop-shadow(0 0 20px cyan);

}

h1 {

    font-family: 'Orbitron', sans-serif;

    font-size: 55px;

    color: #39ff14;

    text-shadow: 0 0 20px #39ff14;

}

header p {

    color: #00d4ff;

    font-size: 20px;

    margin-top: 10px;

}

main {

    width: 90%;

    max-width: 1200px;

    margin: 40px auto;

}

.card {

    background: #101010;

    border: 2px solid #00d4ff;

    border-radius: 15px;

    padding: 30px;

    margin-bottom: 30px;

    box-shadow: 0 0 20px rgba(0, 212, 255, .3);

    transition: .3s;

}

.card:hover {

    transform: translateY(-8px);

    box-shadow: 0 0 30px #39ff14;

    border-color: #39ff14;

}

h2 {

    color: #39ff14;

    margin-bottom: 20px;

}

.equipe {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

    gap: 20px;

}

.membro {

    background: #1b1b1b;

    padding: 20px;

    border-radius: 10px;

    border: 1px solid #00d4ff;

    text-align: center;

    transition: .3s;

}

.membro:hover {

    background: #252525;

    transform: scale(1.05);

    border-color: #39ff14;

}

.botao {

    display: inline-block;

    margin-top: 20px;

    padding: 15px 35px;

    background: #00d4ff;

    color: black;

    text-decoration: none;

    font-weight: bold;

    border-radius: 30px;

}

.botao:hover {

    background: #39ff14;

}

footer {

    text-align: center;

    padding: 30px;

    color: #888;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #111;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background: #00d4ff;
    color: black;
    padding: 15px;
}

td {
    padding: 15px;
    border-bottom: 1px solid #333;
}

tr:hover {
    background: #1f1f1f;
}

td:first-child {
    color: #39ff14;
    font-weight: bold;
    width: 150px;
}